.Subcategorias {
    display: flex;
    flex-direction: column;
    background-color: rgb(241,237,226);
    min-height: 90vh;
    height: auto;
    width: 100%;
}

.head {
    display: flex;
    height: 6vh;
    background-color: rgb(96,91,76);
    margin: 0;
}

.h4Head {
    color: rgb(241,237,226);
    font-family: "Forum", sans-serif;
    font-size: 2vh;
    margin: auto 0 auto 5%;
}

.imgHead {
    height: 80%;
    margin: auto 5% auto auto;
}




/* ! RESPONSIVE */




@media (min-width: 900px) {
    .h4Head {
        margin: auto auto auto 15%;
    }

    .imgHead {
        margin: auto 15% auto auto;
    }
}