.Libro {
    width: 100%;
    margin: 4vh auto;
    display: flex;
    flex-direction: column;
}

.divLibro {
    width: 85%;
    height: 30vh;
    display: flex;
    margin: auto;
    overflow: hidden;
}

.imgLibro {
    margin: auto;
    height: 100%;
    cursor: pointer;
    border-radius: 8px;
}




/* ! RESPONSIVE */




@media (min-width: 900px) {
    .Libro {
        width: 50%;
    }
}