.ResetPassword {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.titulo {
    color: rgb(96, 91, 76);
    margin-top: 6vh;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 4vh auto 0 auto;
}

.pContraseña {
    color: rgb(96, 91, 76);
    width: 60%;
    margin: 0 auto;
}

.divInput {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 2vh auto;
}

.input {
    display: flex;
    width: 100%;
    font-size: 2vh;
    padding: 1vh 2vw;
    border: 2px solid rgb(192, 186, 174);
    border-radius: 5px;
}

.ver {
    height: 1.5vh;
    position: absolute;
    cursor: pointer;
    right: 3%;
    opacity: 60%;
    display: none;
}

.nover {
    height: 1.5vh;
    position: absolute;
    cursor: pointer;
    right: 3%;
    opacity: 60%;
}

.boton {
    width: 45vw;
    height: 4.5vh;
    background-color: rgb(96, 91, 76);
    border-radius: 50px;
    text-decoration: none;
    display: flex;
    margin: 4vh auto;
    cursor: pointer;
}

.boton:active {
    outline: none;
    background-color: rgb(241, 237, 226);
}

.h4Boton {
    font-family: "Forum", sans-serif;
    font-size: 2vh;
    font-weight: normal;
    color: rgb(241, 237, 226);
    margin: auto;
    user-select: none;
}

.h4Boton:active {
    color: rgb(96, 91, 76);
    outline: none;
}





/* ! RESPONSIVE */





@media (min-width: 900px) {
    .ResetPassword {
        margin: 0 auto;
        width: 50%;
    }

    .inputs {
        width: 60%;
    }

    .boton {
        width: 25%;
    }
}